doctype html
html(lang="en")
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', rel='stylesheet', type='text/css')
    link(href='./css/custom.css', rel='stylesheet')
    title #{pageData.title}
  body
    h1 welcome to expressbones
    script(src="./js/custom.js")
