<header class="mdl-layout__header">
<div class="mdl-layout__header-row">
	<!-- Title--><a href="/" class="mdl-layout-title">ExpressBones</a>
	<!-- Add spacer, to align navigation to the right-->
	<div class="mdl-layout-spacer"></div>
	<!-- Navigation. We hide it in small screens.-->
	<nav class="mdl-navigation mdl-layout--large-screen-only"><a href="" class="mdl-navigation__link">Link</a><a href="" class="mdl-navigation__link">Link</a><a href="" class="mdl-navigation__link">Link</a><a href="" class="mdl-navigation__link">Link</a></nav>
</div>
</header>
<div class="mdl-layout__drawer"><a href="/" class="mdl-layout-title">ExpressBones</a>
		<% if(user) {%>
			<header class="usersection"><img src="/img/user.jpg" class="avatar">
        	<div class="account"></div>
        	</header><a href="/" class="mdl-layout-title">ExpressBones</a>
		<% } %>
	<nav class="mdl-navigation">
		<% if(user) %>
		<a href="/logout" class="mdl-navigation__link"><i class="material-icons menu-icon">exit_to_app</i>Logout</a>
		<% if(!user) { %>
		<a href="/login" class="mdl-navigation__link"><i class="material-icons menu-icon">person</i>Login</a>
		<a href="/register" class="mdl-navigation__link"><i class="material-icons menu-icon">person_add</i>Register</a>
		<%}%>
		<a href="https://github.com/neolectron" target="_blank" class="mdl-navigation__link"><i class="material-icons menu-icon">open_in_new</i>Github</a>
		<a href="#" class="mdl-navigation__link"><i class="material-icons menu-icon">bookmark</i>Link</a>
	</nav>
</div>